.DS_Store*
Library/
*.log
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-2021.dwlt
blazor_registration/gdc_2023_demo_registration/appsettings.json
blazor_registration/gdc_2023_demo_registration/appsettings.json
