# Project-specfic .gitignore files exist for each folder depending on the language used in there.
# This file only contains entries that need to be globally excluded.

.env
.idea/

game_client/build_web/Build/build_web.data
game_client/build_web/Build/build_web.framework.js
game_client/build_web/Build/build_web.loader.js
game_client/build_web/Build/build_web.wasm
