@page "/EventRegister"
@using RestSharp
@using website.Data
@using website.Utils
@using dotenv.net

@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<style>
    body {
        background-color: #023430;
    }

    .chartsiframe {
        background: #F1F5F4;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
        width: 100%;
        height: 90vh;
    }
</style>
<a href="/EventRegister?EventId=@_eventId">
    <img src="\mongodb-logo-green-bg.jpg" class="rounded mx-auto d-block" alt="logo">
</a>
<div class="card" style="max-width:400px;background:yellow;text-align:center">
    <div style="display:inline">
        <a href="https://www.mongodb.com/solutions/solutions-library/gaming-player-profiles-solution"
           target="_blank">Solution</a>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="https://www.mongodb.com/use-cases/gaming" target="_blank">MDB for Gaming</a>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/mongodb-developer/leafsteroids" target="_blank">GitHub</a>
    </div>
</div>
<div class="card bg-white">
    <article class="card-body mx-auto" style="max-width: 400px;">

        <h4 class="card-title mt-3 text-center">
            <h2 class="text-center">Registration & Login</h2>
        </h4>

        @if ((_event != null))
        {
            <table>
                <tr>
                    <td>
                        <div>
                            <img src="@GetQRCodeForCurrentUrl()" class="rounded mx-auto d-block" alt="logo">
                        </div>
                    </td>
                    <td>
                        <h2 class="card-title mt-3 text-center">
                            <b>@_event.Name</b>
                        </h2>
                    </td>
                </tr>
            </table>
        }

        <h4 class="card-title mt-3 text-center">
            <b class="validation-message">@_errorMessage</b>
        </h4>

        <form>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <input id="name" type="text" class="form-control" placeholder="Nickname (case sensitive! no spaces!)"
                       @bind="_player.Name" name="" @oninput="AutoCompleteName" required pattern="/^[a-zA-Z0-9_\-]+$/">


                <div id="autocomplete" class="autocomplete">
                    @if (_suggestedNames.Count > 0)
                    {
                        <ul class="options">
                            @foreach (var name in _suggestedNames)
                            {
                                <li id="option_@name" class="option" @onclick=@(_ => SelectName(name))>
                                    @name <!-- visible suggestion -->
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-users"></i>
                    </span>
                </div>
                <input id="teamname" @bind="_player.Team" name="" class="form-control" placeholder="Team Name (optional)"
                       type="text">
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-comment"></i>
                    </span>
                </div>
                <input id="email" @bind="_player.Email" name="" class="form-control"
                       placeholder="E-Mail for prizes (optional)" type="email"
                       pattern="/^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/">
                <!-- @@ escapes 'at' symbol in razor -->
            </div> <!-- form-group// -->


            <div class="form-group">
                <div class="text-center">
                    <button type="button" class="btn btn-block center" style="background-color:#00ed64"
                            @onclick="CreatePlayer">
                        Register
                    </button>
                    <button type="button" class="btn btn-block center" style="background-color:#00ed64"
                            @onclick="CreatePlayer">
                        Login
                    </button>
                </div>
            </div> <!-- form-group// -->
        </form>
    </article>
</div> <!-- card.// -->

<div class="card bg-white">
    @if (_chartUrl.Length == 0)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <div class="iframe-wrapper">
            <iframe class="chartsiframe" src="@_chartUrl"></iframe>
        </div>
    }
</div>

@code {
    private Player _player { get; } = new();
    private List<string> _suggestedNames = new();
    private Event? _event;
    private string _eventId = string.Empty;
    private string _chartUrl = string.Empty;
    private string _errorMessage = string.Empty;
    private readonly RestClient _restClient = RestServiceClient.Create();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeAsync<string>("enableListener");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await SetEventFromUrlParameters();
        DotEnv.Load();
        var envVars = DotEnv.Read();
        var atlasChartIdHome = envVars["ATLAS_CHART_ID_HOME"];

        _chartUrl = ChartsUrl.CreateHomeUrl(atlasChartIdHome, _event!.Id!, _event.Location!);
    }

    private async Task SetEventFromUrlParameters()
    {
        var queryParameters = UrlHelper.GetParameters(NavigationManager.Uri);
        _eventId = queryParameters.TryGetValue(Constants.QueryParameterEventId, out var eventIdValue) ? eventIdValue :
        queryParameters.TryGetValue("event", out var eventValue) ? eventValue :
        Constants.DefaultEventId;

        var eventsFilter = new Dictionary<string, string>
        {
            { "id", _eventId }
        };

        string eventsUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointEvents, eventsFilter);
        var events = await _restClient.GetJsonAsync<List<Event>>(eventsUrlWithQuery);

        _event = events.FirstOrDefault();
    }

    private async Task CreatePlayer()
    {
        if (string.IsNullOrEmpty(_player.Name) || string.IsNullOrEmpty(_event?.Location))
        {
            _errorMessage = "[please fill out the form]";
            return;
        }

        _errorMessage = "";

        //TO-DO ADD FILTER FOR PLAYER!!!!
        var playersUnique = await _restClient.GetJsonAsync<List<Player>>(Constants.RestServiceEndpointPlayers);
        var filteredPlayersUnique = playersUnique!.FindAll(p => p.Name!.Equals(_player.Name));
        var existingPlayer = filteredPlayersUnique.FirstOrDefault();

        if (existingPlayer != null)
        {
            _errorMessage = $"[{_player.Name}] exists! Login instead?";
        }
        else
        {
            _player.Location = _event.Location;

            var request = new RestRequest(Constants.RestServiceEndpointPlayers).AddJsonBody(_player);
            await _restClient.PostAsync<Player>(request);

            var newDestination = UrlForPlayerAndEvent(_player.Location, _player.Name, _event.Id!);
            NavigationManager!.NavigateTo(newDestination);
        }
    }

    private async Task LoginPlayer()
    {
        if (string.IsNullOrEmpty(_player.Name))
        {
            _errorMessage = "[Enter your name!]";
            return;
        }

        _errorMessage = "";

        var args = new Dictionary<string, string>
        {
            { "Name", _player.Name }
        };

        string urlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointPlayers, args);

        var players = await _restClient.GetJsonAsync<List<Player>>(urlWithQuery);
        var filteredPlayers = players!.FindAll(p => p.Name!.Equals(_player.Name));
        var existingPlayer = filteredPlayers.FirstOrDefault();

        if (existingPlayer != null)
        {
            var newDestination = UrlForPlayerAndEvent(_event!.Location!, existingPlayer.Name!, _event.Id!);
            NavigationManager!.NavigateTo(newDestination);
        }
        else
        {
            _errorMessage = $"[{_player.Name}] not found. Register instead?";
        }
    }

    private async Task AutoCompleteName(ChangeEventArgs e)
    {
        var input = e.Value!.ToString()!;

        if (input.Length >= 3)
        {

            var args = new Dictionary<string, string>
            {
                { "Name", input }
            };

            string urlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointPlayersAutoComplete, args);

            var names = await _restClient.GetJsonAsync<List<string>>(urlWithQuery);

            _suggestedNames = names;
            await JS.InvokeAsync<string>("showAutoComplete");

        }
        else
        {
            _suggestedNames.Clear();
        }
    }

    private void SelectName(string name)
    {
        _player.Name = name;
        _suggestedNames.Clear();
    }

    private static string UrlForPlayerAndEvent(string location, string name, string eventId)
    {
        var newDestination = "/playerEventHome?location=" + location + "&Name=" + name + "&EventId=" + eventId;
        return newDestination;
    }

    // return current url location
    private string GetQRCodeForCurrentUrl()
    {
        string url = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" +
        NavigationManager.BaseUri + "/EventRegister?EventId=" + _eventId;
        Console.WriteLine(url);
        return url;
    }

}