@page "/"
@using RestSharp
@using website.Data
@using website.Utils

@inject NavigationManager NavigationManager


<style>
    body {
        background-color: #023430;
    }

    .chartsiframe {
        background: #F1F5F4;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
        width: 100%;
        height: 90vh;
    }
</style>
<a href="\?EventId=@_eventId">
    <img src="\mongodb-logo-green-bg.jpg" class="rounded mx-auto d-block" alt="logo">
</a>
<div class="card bg-white">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h2 class="text-center">Player Registration & Login</h2>
        <h4 class="card-title mt-3 text-center">
            <b>
                @if ((_event != null))
                {
                    if ((_event.Location != null) && (_event.Name != null))
                    {
                        <a href="/eventHome/?location=@_event.Location&EventId=@_event.Id">@_event.Name</a>
                    }
                    else
                    {
                        @_event.Name
                    }
                }
            </b>
        </h4>
        <h4 class="card-title mt-3 text-center">
            <b class="validation-message">@_errorMessage</b>
        </h4>

        <form>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <input id="name"
                       type="text"
                       class="form-control"
                       placeholder="Name (case sensitive!)"
                       @bind="Player.Name" name=""
                       @oninput="AutoCompleteName"
                       required>

                @if (_suggestedNames.Count > 0)
                {
                    <div class="autocomplete">
                        <ul class="options">
                            @foreach (var name in _suggestedNames)
                            {
                                <li id="option_@name"
                                    class="option"
                                    @onclick=@(_ => SelectName(name))>
                                    @name <!-- visible suggestion -->
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-users"></i>
                    </span>
                </div>
                <input id="teamname" @bind="Player.Team" name="" class="form-control" placeholder="Team Name (optional)" type="text">
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-comment"></i>
                    </span>
                </div>
                <input id="email" @bind="Player.Email"
                       name=""
                       class="form-control"
                       placeholder="E-Mail for prizes (optional)"
                       type="email">
            </div> <!-- form-group// -->


            <div class="form-group">
                <div class="text-center">
                    <button type="button" class="btn btn-block center" style="background-color:#00ed64" @onclick="CreatePlayer"> Register </button>
                    <button type="button" class="btn btn-block center" style="background-color:#00ed64" @onclick="LoginPlayer"> Login </button>
                </div>
            </div> <!-- form-group// -->
        </form>
    </article>
</div> <!-- card.// -->

<div class="card bg-white">
    @if (_chartUrl.Length == 0)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <div class="iframe-wrapper">
            <iframe class="chartsiframe" src="@_chartUrl"></iframe>
        </div>
    }
</div>

@code {

    private Player Player { get; } = new();
    private List<string> _suggestedNames = new();
    private Event? _event;
    private string _eventId = string.Empty;
    private string _chartUrl = string.Empty;
    private string _errorMessage = string.Empty;
    private readonly RestClient _restClient = RestServiceClient.Create();

    protected override async Task OnInitializedAsync()
    {
        await SetEventFromUrlParameters();
        _chartUrl = ChartsUrl.CreateHomeUrl(Constants.AtlasChartIdHome, _event!.Id!, _event.Location!);
    }

    private async Task SetEventFromUrlParameters()
    {
        var queryParameters = UrlHelper.GetParameters(NavigationManager.Uri);
        _eventId = queryParameters.TryGetValue(Constants.QueryParameterEventId, out var eventIdValue) ? eventIdValue :
            queryParameters.TryGetValue("event", out var eventValue) ? eventValue :
                Constants.DefaultEventId;

        var eventsFilter = new Dictionary<string, string>
            {
                { "id", _eventId }
            };

        string eventsUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointEvents, eventsFilter);
        var events = await _restClient.GetJsonAsync<List<Event>>(eventsUrlWithQuery);

        _event = events.FirstOrDefault();
    }

    private async Task CreatePlayer()
    {
        if (string.IsNullOrEmpty(Player.Name) || string.IsNullOrEmpty(_event?.Location))
        {
            _errorMessage = "[please fill out the form]";
            return;
        }

        _errorMessage = "";

        var playersUnique = await _restClient.GetJsonAsync<List<Player>>(Constants.RestServiceEndpointPlayers);
        var filteredPlayersUnique = playersUnique!.FindAll(p => p.Name!.Equals(Player.Name));
        var existingPlayer = filteredPlayersUnique.FirstOrDefault();

        if (existingPlayer != null)
        {
            _errorMessage = $"[{Player.Name}] exists! Login instead?";
        }
        else
        {
            Player.Location = _event.Location;

            var request = new RestRequest(Constants.RestServiceEndpointPlayers).AddJsonBody(Player);
            await _restClient.PostAsync<Player>(request);

            var newDestination = UrlForPlayer(Player.Location, Player.Name, _event.Id!);
            NavigationManager!.NavigateTo(newDestination);
        }
    }

    private async Task LoginPlayer()
    {
        if (string.IsNullOrEmpty(Player.Name))
        {
            _errorMessage = "[Enter your name!]";
            return;
        }

        _errorMessage = "";

        var playersUnique = await _restClient.GetJsonAsync<List<Player>>(Constants.RestServiceEndpointPlayers);
        var filteredPlayersUnique = playersUnique!.FindAll(p => p.Name!.Equals(Player.Name));
        var existingPlayer = filteredPlayersUnique.FirstOrDefault();

        if (existingPlayer != null)
        {
            var newDestination = UrlForPlayer(_event!.Location!, existingPlayer.Name!, _event.Id!);
            NavigationManager!.NavigateTo(newDestination);
        }
        else
        {
            _errorMessage = $"[{Player.Name}] not found. Register instead?";
        }
    }

    private async Task AutoCompleteName(ChangeEventArgs e)
    {
        var input = e.Value!.ToString()!;

        if (input.Length >= 3) {

            var args = new Dictionary<string, string>
            {
                { "Name", input }
            };

            string urlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointPlayersAutoComplete, args);

            var names = await _restClient.GetJsonAsync<List<string>>(urlWithQuery);

            _suggestedNames = names;

        } else {
            _suggestedNames.Clear();
        }
    }

    private void SelectName(string name)
    {
        Player.Name = name;
        _suggestedNames.Clear();
    }

    private static string UrlForPlayer(string location, string name, string eventId)
    {
        var newDestination = "/playerHome?location=" + location + "&Name=" + name + "&EventId=" + eventId;
        return newDestination;
    }

}