[Unit]
Description=REST service
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/rest_service
ExecStart=/bin/sh -c "/usr/bin/dotnet nuget locals all --clear && /usr/bin/dotnet run --urls 'http://0.0.0.0:8000'"
Restart=always
RestartSec=10
SyslogIdentifier=rest_service
User=ubuntu
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
