[Unit]
Description=Game Server Service

[Service]
WorkingDirectory=/home/ubuntu/game_server
User=ubuntu
ExecStart=gunicorn -b 0.0.0.0:8000 application:app
Restart=always

[Install]
WantedBy=multi-user.target
