@page "/Done"


<style>
    body {
        background-color: #023430;
    }

    .card {
        border-radius: 40px;
        max-width: 500px;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
</style>

<div class="card bg-white">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h1 class="text-center">Done!</h1>
        <h4 class="card-title mt-3 text-center">Thank you for registering!</h4>

      
    </article>
</div> <!-- card.// -->
@code {
    
}


