@inherits LayoutComponentBase

<div class="page">
    <main>
        <a href="\">
            <img src="\mongodb-logo-green-bg.jpg" class="rounded mx-auto d-block" alt="logo">
        </a>
        <article class="content px-2">
            @(Body!)
        </article>
    </main>
</div>